Repository Northeastern-Electric-Racing/PM-Dashboard-v2, pull requests merged in 2021-08, with the labels that each got.

#285 #271 - changing mouse hovering effect for project table into nice finger
  src/components/change-requests/change-requests-table/change-requests-table/change-requests-table.tsx
  src/components/projects/projects-table/projects-table/projects-table.tsx
Labels: enhancement, front-end

#281 #273 - Move rules array from work package to project
  src/backend/prisma/schema.prisma
  src/backend/prisma/seed-data/projects.ts
  src/backend/prisma/seed-data/work-packages.ts
  src/components/projects/wbs-details/project-container/project-container.tsx
  src/components/projects/wbs-details/project-container/project-rules/project-rules.module.css
  src/components/projects/wbs-details/project-container/project-rules/project-rules.test.tsx
  src/components/projects/wbs-details/project-container/project-rules/project-rules.tsx
  src/components/projects/wbs-details/project-container/work-package-summary/work-package-summary.test.tsx
  src/components/projects/wbs-details/project-container/work-package-summary/work-package-summary.tsx
  src/components/projects/wbs-details/work-package-container/work-package-container.tsx
  src/shared/tests/list-pipe.test.tsx
  src/test-support/test-data/projects.stub.ts
  src/test-support/test-data/work-packages.stub.ts
  src/utils/src/dummy-data.ts
  src/utils/src/types/project-types.ts
Labels: enhancement, back-end

#286 #192 - Create CR common form fields component
  src/components/change-requests/new-change-request/new-change-request-page/common-form-fields/common-form-fields.module.css
  src/components/change-requests/new-change-request/new-change-request-page/common-form-fields/common-form-fields.test.tsx
  src/components/change-requests/new-change-request/new-change-request-page/common-form-fields/common-form-fields.tsx
  src/components/change-requests/new-change-request/new-change-request-page/new-change-request-page.tsx
Labels: new feature

#294 #292 horizontal list
  src/components/projects/wbs-details/project-container/project-container.tsx
  src/components/projects/wbs-details/project-container/project-rules/project-rules.tsx
  src/components/projects/wbs-details/project-container/rules-list/rules-list.module.css
  src/components/projects/wbs-details/project-container/rules-list/rules-list.test.tsx
  src/components/projects/wbs-details/project-container/rules-list/rules-list.tsx
  src/components/projects/wbs-details/work-package-container/dependencies-list/dependencies-list.module.css
  src/components/projects/wbs-details/work-package-container/dependencies-list/dependencies-list.test.tsx
  src/components/projects/wbs-details/work-package-container/dependencies-list/dependencies-list.tsx
  src/components/projects/wbs-details/work-package-container/work-package-container.tsx
  src/components/projects/wbs-details/work-package-container/work-package-dependencies/work-package-dependencies.tsx
  src/components/shared/horizontal-list/horizontal-list.module.css
  src/components/shared/horizontal-list/horizontal-list.test.tsx
  src/components/shared/horizontal-list/horizontal-list.tsx
Labels: front-end, improvement

#296 #289 add other constraints
  src/backend/prisma/schema.prisma
  src/backend/prisma/seed-data/projects.ts
  src/backend/prisma/seed.ts
  src/components/projects/wbs-details/project-container/project-container.tsx
  src/services/projects.api.ts
  src/test-support/test-data/projects.stub.ts
  src/utils/src/dummy-data.ts
  src/utils/src/types/project-types.ts
Labels: front-end, back-end, new feature

#295 #290 convert description to expected activities
  src/backend/prisma/schema.prisma
  src/backend/prisma/seed-data/work-packages.ts
  src/backend/prisma/seed.ts
  src/components/projects/wbs-details/work-package-container/description-list/description-list.test.tsx
  src/components/projects/wbs-details/work-package-container/work-package-container.tsx
  src/services/work-packages.api.ts
  src/test-support/test-data/work-packages.stub.ts
  src/utils/src/dummy-data.ts
  src/utils/src/types/project-types.ts
Labels: front-end, back-end, improvement

#298 #287 add goals
  src/backend/prisma/schema.prisma
  src/backend/prisma/seed-data/projects.ts
  src/backend/prisma/seed.ts
  src/components/projects/wbs-details/project-container/project-container.tsx
  src/components/projects/wbs-details/work-package-container/work-package-container.tsx
  src/components/shared/description-list/description-list.module.css
  src/components/shared/description-list/description-list.test.tsx
  src/components/shared/description-list/description-list.tsx
  src/services/projects.api.ts
  src/test-support/test-data/projects.stub.ts
  src/utils/src/dummy-data.ts
  src/utils/src/types/project-types.ts
Labels: enhancement, front-end, back-end, new feature, improvement

#299 #288 add features
  src/backend/prisma/schema.prisma
  src/backend/prisma/seed-data/projects.ts
  src/backend/prisma/seed.ts
  src/components/projects/wbs-details/project-container/project-container.tsx
  src/services/projects.api.ts
  src/services/work-packages.api.ts
  src/test-support/test-data/projects.stub.ts
  src/utils/src/dummy-data.ts
  src/utils/src/types/project-types.ts
Labels: front-end, back-end, new feature, approved, improvement

#303 #297 changes on projects
  src/backend/prisma/migrations/20210815191721_init/migration.sql
  src/backend/prisma/seed-data/change-requests.ts
  src/components/projects/wbs-details/project-container/project-container.tsx
  src/test-support/test-data/projects.stub.ts
  src/utils/src/dummy-data.ts
  src/utils/src/types/project-types.ts
Labels: enhancement, front-end, back-end

#304 #301 move budget
  src/backend/prisma/schema.prisma
  src/backend/prisma/seed-data/projects.ts
  src/backend/prisma/seed-data/work-packages.ts
  src/components/projects/wbs-details/project-container/project-details/project-details.tsx
  src/components/projects/wbs-details/project-container/rules-list/rules-list.test.tsx
  src/components/projects/wbs-details/project-container/work-package-summary/work-package-summary.test.tsx
  src/components/projects/wbs-details/project-container/work-package-summary/work-package-summary.tsx
  src/components/projects/wbs-details/work-package-container/work-package-details/work-package-details.test.tsx
  src/components/projects/wbs-details/work-package-container/work-package-details/work-package-details.tsx
  src/services/tests/projects.api.test.ts
  src/services/tests/work-packages.api.test.ts
  src/shared/tests/list-pipe.test.tsx
  src/test-support/test-data/projects.stub.ts
  src/test-support/test-data/work-packages.stub.ts
  src/utils/src/dummy-data.ts
  src/utils/src/types/project-types.ts
Labels: enhancement, front-end, back-end

#319 database updates
  src/backend/prisma/migrations/20210824200501_init/migration.sql
  src/backend/prisma/schema.prisma
  src/backend/prisma/seed-data/change-requests.ts
  src/backend/prisma/seed-data/projects.ts
  src/backend/prisma/seed-data/session.ts
  src/backend/prisma/seed-data/users.ts
  src/backend/prisma/seed.ts
Labels: enhancement, back-end

#322 #194 activation form fields
  package-lock.json
  package.json
  src/components/change-requests/new-change-request/new-change-request-page/activation-form-fields/activation-form-fields.module.css
  src/components/change-requests/new-change-request/new-change-request-page/activation-form-fields/activation-form-fields.test.tsx
  src/components/change-requests/new-change-request/new-change-request-page/activation-form-fields/activation-form-fields.tsx
  src/components/change-requests/new-change-request/new-change-request-page/new-change-request-page.test.tsx
  src/components/change-requests/new-change-request/new-change-request-page/new-change-request-page.tsx
Labels: front-end

#313 making standard form field
  src/components/change-requests/new-change-request/new-change-request-page/new-change-request-page.tsx
  src/components/change-requests/new-change-request/new-change-request-page/standard-form-fields/standard-form-fields.module.css
  src/components/change-requests/new-change-request/new-change-request-page/standard-form-fields/standard-form-fields.test.tsx
  src/components/change-requests/new-change-request/new-change-request-page/standard-form-fields/standard-form-fields.tsx
Labels: front-end, new feature

#325 #214 connect users db
  package-lock.json
  src/backend/functions/users.ts
  src/backend/prisma/migrations/20210828191914_init/migration.sql
  src/backend/prisma/schema.prisma
  src/backend/prisma/seed-data/users.ts
  src/backend/tests/users.test.ts
  src/components/app/app-public/app-public.test.tsx
  src/components/projects/projects-table/projects-table/projects-table.test.tsx
  src/services/auth.hooks.ts
  src/services/tests/users.api.test.ts
  src/services/tests/users.hooks.test.tsx
  src/services/users.api.ts
  src/services/users.hooks.ts
  src/shared/pipes.tsx
  src/shared/types.ts
  src/test-support/test-data/test-utils.stub.ts
  src/test-support/test-data/users.stub.ts
  src/utils/src/types/user-types.ts
Labels: back-end

#275 I267 leroy - updating settings page
  src/components/settings/settings.tsx
Labels: front-end
